.body_background 
    {
        background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y29sb3JmdWwlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
        background-position: center;
        background-size: cover;
    }

.login_div1 , .login_div2
	{
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

#player1_username_input , #player2_username_input
    {
        display: inline-block;
	    margin-left: 20px;
    }

.header1 , .header2
    {
        font-size: large;
        font-weight: bold;
    }

#output
    {
        background: white;
        border-radius: 10px;
        border-top: 10px solid #AA4465;
        padding: 10px;
        float: none;
        text-align: left;
    }

 